label {
    font-size: 14pt;
    font-family: Calibri, sans-serif;
}

#autoclicker_check {
    border-radius: .25em
}
#popup {
    padding: 10px;
    width: 385px;
}
@font-face {
    font-family: "KronaOne";
    src: url("KronaOne-Regular.ttf");
}

h1{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: KronaOne, serif;
}